body {
  /*background-size: 1600px;*/
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

a:active {
  text-decoration: underline;
  color: black;
}

h1 {
  text-shadow: -1px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
  border-bottom: solid 1px #062c64;
}

.page-container {
  width: 29%;
  height: 39%;
  margin: auto;
  position: absolute;
  top: -24px;
  left: 20%;
  bottom: 0;
  right: 0;
  font-family: sans-serif;
  color: white;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-list__item {
  background-color: #e5f1ff;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  border-radius: 5px;
  border-width: 3px;
  text-align: center;
  width: 150px;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(148, 148, 148, 1);
  -moz-box-shadow: 3px 4px 5px 0px rgba(148, 148, 148, 1);
  box-shadow: 3px 4px 5px 0px rgba(148, 148, 148, 1);
}

.buttons-grp {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.button {
  padding: 10px;
  color: #FFF !important;
  width: 200px;
  text-align: center;
  background: #062c64;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #062c64, #062c64);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #062c64, #062c64);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button a {
  color: #d9d8da;
}

.item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-list__header {
  font-weight: 800;
  height: 40px;
  justify-content: space-between;
  display: flex;
  padding: 8px 15px;
  text-transform: capitalize;
  background: linear-gradient(to bottom, #cecece, #e4e4e4);
  color: #65696d;
}

.item-list__item {
  background-color: #f9fbff1a;
  border-width: 3px;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  border-bottom: solid 1px #DEDEDE;
  border-right: solid 1px #DEDEDE;
  border-left: solid 1px #DEDEDE;
  color: #4a4545;
}

.item-list__item:nth-child(2n) {
  background-color: #fff;
}

.item-list__item__delete-button {
  background: linear-gradient(to bottom, #ea3e3a, #9d1916);
  color: #FFF;
  border-radius: 50% 50%;
  border: none;
  font-weight: 100;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0 1px 0 0;
  font-size: 18px;
  margin-right: 7.5px;
  cursor: pointer;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 25px;
  align-items: center;
  margin-top: 100px;
}

.submit {
  padding: 5px !important;
  height: 35px;
}

.input {
  border: solid 1px #062c64;
  height: 35px;
  width: 200px;
  padding-left: 8px;
}

.date-text {
  font-size: 12px;
  font-weight: lighter;
  margin-left: 7px;
  color: #a90a0a;
}

.date-text i.fa {
  margin-right: 3px;
}
